@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  height: 100vh;
  width: 100vh;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

@keyframes horizontal-shaking {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

.shaking {
  animation: horizontal-shaking 0.6s ease-in;
}

@keyframes Pop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.pop {
  animation: Pop 0.1s ease-in;
}

// for winning animation
@-webkit-keyframes bounceIn {
  0%,
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0%,
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounceIn 1s ease-in;
}

.picked {
  color: #fff;
  background-color: #787c7e;
  border: none;
}

.attempted {
  color: #fff;
  background-color: #c9b458;
  border: none;
}

.correct {
  color: #fff;
  background-color: #6aaa64;
  border: none;
}

/* This container is needed to position the front and back side */
.inner {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  background-color: transparent;
  position: relative;
  transform-style: preserve-3d;
}

/* Do the horizontal flip */
.flip {
  transform: rotateX(180deg);
  border: none;
}

/* Transition the flip */
.inner {
  transition: transform 0.6s;
}

/* Position the front and back side */
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.back {
  transform: rotateX(180deg);
}

/* for panel sliding animation */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutToTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideInFromTop 0.5s forwards;
}

.slide-out {
  animation: slideOutToTop 0.5s forwards;
}
